<% layout('layouts/boilerplate-workout') -%>

<% var typeOpts = ['Blog', 'Workout'] %>
<% var categoryOpts = ['Push', 'Pull', 'Leg', 'Stretching', 'Warm Up', 'Food', 'Diet', 'Health Tips'] %>
<h1>Edit Workout Post!</h1>
<div class="container">
  <form action="/workouts/<%= workout.id %>?_method=PUT" method="POST" id="postEditFormWorkout" enctype="multipart/form-data">
    <div class="form-group row">
      <label for="editTitleW" class="col-md-1 col-form-label">Title:</label>
      <div class="col-md-7">
        <input class="form-control" id="editTitleW" type="text" name="workout[title]" placeholder="Title" value="<%= workout.title %>">
      </div>
      <label for="editTypeW" class="col-md-1 col-form-label">Type:</label>
      <div class="col-md-3">
        <select id="editTypeW" class="form-control" name="workout[type]" placeholder="Category">
          <% for (var i = 0; i < typeOpts.length; i++) { %>
            <option value="<%= workout.type %>"><%=typeOpts[i]%></option>
            <% } %>
          </select>
        </div>
    </div>
    <div class="form-group row">
      <label for="editCatW" class="col-md-1 col-form-label">Category:</label>
      <div class="col-md-3">
        <select id="editCatW" class="form-control" name="workout[category]" placeholder="Category">
        <% for (var i = 0; i < categoryOpts.length; i++) { %>
          <option value="<%= workout.category %>"><%=categoryOpts[i]%></option>
        <% } %>
        </select>
      </div>
      <label for="editRepsW" class="col-md-1 col-form-label">Reps:</label>
      <div class="col-md-3">
        <input class="form-control" id="editRepsW" type="text" name="workout[reps]" placeholder="Reps" value="<%= workout.reps %>">
      </div>
      <label for="editSetsW" class="col-md-1 col-form-label">Sets:</label>
      <div class="col-md-3">
        <input class="form-control" id="editSetsW" type="number" name="workout[sets]" placeholder="Sets" value="<%= workout.sets %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="imageUpload" class="col-md-1 col-form-label">Images:</label>
      <input type="file" id="imageUpload" accept="images/*" name="images" multiple />
      <div>
        <% workout.images.forEach(function(image, i) { %>
          <img src="<%= image.url %>" alt="Workout Images" width="100px">
          <label for="image<%= i %>Workout">Delete?</label>
          <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>Workout" value="<%= image.public_id %>">
        <% }); %>
      </div>
    </div>
    <div class="form-group row">
      <label for="editDescW" class="col-md-1 col-form-label">Description:</label>
      <div class="col-md-11">
        <textarea class="form-control" id="editDescW" name="workout[description]" placeholder="Description"><%= workout.description %></textarea>
      </div>
    </div>
    <button class="btn btn-secondary btn-block">Submit</button>
  </form>
</div>

<script type="text/javascript">
  // find post edit form
  let postEditFormWorkout = document.getElementById('postEditFormWorkout');
  // add submit listener to post edit form
  postEditFormWorkout.addEventListener('submit', function(event) {
    // find length of uploaded images
    let imageUploads = document.getElementById('imageUpload').files.length;
    // find total number of existing images
    let existingImages = document.querySelectorAll('.imageDeleteCheckbox').length;
    // find total number of potential deletions
    let imgDeletions = document.querySelectorAll('.imageDeleteCheckbox:checked').length;
    // figure out if the form can be submitted or not
    let newTotal = existingImages - imgDeletions + imageUploads;
    if (newTotal > 4) {
      event.preventDefault();
      let removalAmt = newTotal - 4;
      alert(`You need to remove at least ${removalAmt} (more) image${removalAmt === 1 ? '' : 's'}!`);
    }
  });
</script>
