<% layout('layouts/boilerplate-travel') -%>
<h1><%= title %></h1>

<div id="map"></div>

<% include ../partials/paginate-travels %>

<% travels.docs.forEach(function(travel) { %>
<div class="">
    <h2><%= travel.title %></h2>
    <div><strong>Location:</strong> <%= travel.location %></div>
    <div><%= travel.description.substring(0,100) %>...</div>
    <div class=""><a href="/travels/<%= travel.id %>">View More!</a></div>
</div>
<% }) %>
<% include ../partials/paginate-travels %>

<script type="text/javascript">
  mapboxgl.accessToken = "<%= mapBoxGLToken %>";
  var travels = {features: <%- JSON.stringify(travels.docs) %>};
</script>
<script src="/javascripts/allTravelsClusterMap.js" type="text/javascript"></script>
